.track-list {
    width: 100%;
}

.track-separator {
    height: 2px;
    background-color: #555555;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5%;
    margin-left: 5%;
}

.track-list li {
    text-align: center;
    font-size: 15px;
}
.no-bullet {
    list-style-type: none;
    }
.active-track {
    color: #BBBB00;
    font-weight: bold;
}
