.zensync.json
.ipynb_checkpoints
*.class
__pycache__
python/django/capiccount/budget/migrations/*
venv/
react/zentunez/node_modules
react/zentunez/build
python/django/tunez/db.sqlite3
react/SolidCapsule/node_modules
package-lock.json
.npmignore
python/django/tunez/react/
python/django/tunez/static/
python/django/tunez/keys/tunez-245820-047b7b31e116.json
.env
