li a {
    color: green;
}

body {
    color:lightblue;
    background-color: #252525;
    background-image: url("../../zenplayer/cover");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}