flake8==3.8.4
flake8-annotations==2.4.1
flake8-docstrings==1.5.0
flake8-eradicate==1.0.0
flake8-import-order==0.18.1
flake8-polyfill==1.0.2
flake8-print==3.1.4
pynput==1.7.1
requests==2.25.0
fastapi==0.65.2
uvicorn==0.13.4
