.App {
  text-align: center;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  max-width: none;
}

.album-cover {
  width: 400px;
  height: auto;
}

/* Font size for the icons */
.far{
  font-size: 30px;
  color: #4285F4
}

body {
  margin: 0;
  padding: 0;
  color: #DDDDDD;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
}