.App {
  text-align: center;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  max-width: none;
}

.album-cover {
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 250px;
}

/* Font size for the icons */
.far{
  font-size: 30px;
  color: #4285F4;
  width: 100%;
}

body {
  color: #DDDDDD;
  background-color: #111111;
}

.settings-icon {
  float: left;
  padding-left: 5px;
  padding-top: 5px;
  width: 25px;
  height: auto;
}

.message-area {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  width: auto;
  border-color: #229922 !important;
  border-width: 2px !important;
  background-color: #115511;
  border-style: solid;
  position: fixed;
  bottom:1%;
  left:1%;
}

.custom-select {
  background-color: #111111;
  color: #EEEEEE;
}

.track-list {
  min-width: 250px;
}


.col-md-icon {
  padding-left: 10px;
  padding-right: 10px;
}

input {
  width: 100%;
}