{% extends 'base.html' %}
{% block content %}
<h1>Category</h1>

<table>
<thead>
<tr>
<th>Name</th>
<th>Importance</th>
</tr>
</thead>
<tbody>
{% for category in object_list %}
<tr>
<td>{{ category.name }}</td>
<td>{{ category.importance }}</td>
<td>
<a  href="{% url "budget:category_detail"  category.id  %}">details</a>
<a  href="{% url "budget:category_edit"  category.id  %}">edit</a>
<a  href="{% url "budget:category_delete"  category.id  %}">delete</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
{% endblock %}