{% extends 'base.html' %}
{% block content %}
<h1>Category</h1>
<p>The category is used to divide our expenses into "types", so that we can separate and
analyze exactly how and where money is being spent.</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Importance</th>
</tr>
</thead>
<tbody>
{% for category in object_list %}
<tr>
<td>{{ category.name }}</td>
<td>{{ category.importance }}</td>
<td>
<a  href="{% url "budget:category_detail"  category.id  %}"> Details </a>
<a  href="{% url "budget:category_edit"  category.id  %}"> Edit </a>
<a  href="{% url "budget:category_delete"  category.id  %}"> Delete </a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
<br />
<a href="{% url "budget:category_create" %}">Create a new category</a>
{% endblock %}`