{% extends 'base.html' %}
{% block content %}
<h1>Categorization</h1>
<p>Categorizations map the transactions description to a category.</p>
<table>
<thead>
<tr>
<th>Description</th>
<th>Category</th>
</tr>
</thead>
<tbody>
{% for categorization in object_list %}
<tr>
<td>{{ categorization.description }}</td>
<td style="text-align:center">{{ categorization.category.name }}</td>
<td>
<a  href="{% url 'budget:categorization_detail'  categorization.id  %}"> Details </a> -
<a  href="{% url 'budget:categorization_edit'  categorization.id  %}"> Edit </a> -
<a  href="{% url 'budget:categorization_delete'  categorization.id  %}"> Delete </a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<br />
<a href="{% url 'budget:categorization_create' %}">Create a new categorization</a>
{% endblock %}`