{% extends 'base.html' %}
{% block content %}
<h2>Welcome</h2>
<p>This is Zen-CODE's Capitec banking app.</p>
<hr/>
<p>What you you like to do?</p>
<ul>
    <li><a href="view_transactions">View transactions</a></li>
    <li><a href="{% url "budget:category_list" %}">View categories</a></li>
    <li><a href="{% url "budget:categorization_list" %}">View categorizations</a></li>
    <li><a href="clear">Clear transactions</a></li>
    <li><a href="import_csv">Import a CSV file</a></li>
</ul>
{% endblock %}