{% extends 'base.html' %}
{% block content %}
{{ msg }}
<p>There are {{number}} transctions in total.</p>
<p>Showing the last 20.</p>
<table border="1">
    <th>Account</th>
    <th>Date</th>
    <th>Description</th>
    <th>Credit</th>
    <th>Balance</th>
    {% for t in trans %}
    <tr >
    <td>{{ t.account.name }}</td><td>{{ t.transaction_date }}</td>
        <td>{{ t.description }}</td><td>{{ t.credit }}</td>
        <td>{{ t.balance }}</td>
    </tr>
    {% endfor %}
</table>
<br/>
{% endblock %}