<!doctype html>
<html>
    <head>
        <title>ZenTunez</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap-theme.min.css">
        <link href="google.fonts.css">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <title>ZenTunez</title>
        <h1>Welcome to ZenTunez!</h1>
        <p>Hmmm. What would you like to do?</p>
        <h2>Player</h2>
        <a href="{{ url_for('previous_track') }}">Previous</a> -
        <a href="{{ url_for('stop') }}">Stop</a> -
        <a href="{{ url_for('play_pause') }}">Play / Pause</a> -
        <a href="{{ url_for('next_track') }}">Next</a>
        <p />
        <a href="{{ url_for('volume_up') }}">Volume_up</a> -
        <a href="{{ url_for('volume_down') }}">Volume_down</a>
        <p />
        <a href="{{ url_for('cover') }}">Album cover</a>
    </body>
</html>